<div data-overide>
            <div class="list animate-fade-slide-in-right">
                

                <div class="item item-divider in in done" style="transition-delay: 0.45s;" data-value> 
                   Recent Orders 
                </div>

                <div class="checklist-holder ">
                    <label class="item item-checkbox in in done ng-valid" ng-model="heineken.checked" ng-change="heinekenChange()" style="transition-delay: 0.49s;">

                        <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle"><input type="checkbox" ng-model="heineken.checked" ng-change="heinekenChange()" class="ng-pristine ng-untouched ng-valid"><i class="checkbox-icon"></i></div><div class="item-content disable-pointer-events" ng-transclude=""><span>
                        Heineken

                    </span></div></label>
                    

                </div>
        </div>

</div>        